<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <% include ./partials/_header %>
  <% if (userID) { %>
  <blockquote>
    your full URL &nbsp;&#8594;&nbsp; <a href = <%= urls[shortURL] %>><%= urls[shortURL] %></a><br>
    your shortened URL &nbsp;&#8594;&nbsp; <a href = <%= urls[shortURL] %>>/u/<%= shortURL %></a>
    <br>
    <br>
    <form action="/urls/<%= shortURL %>"method="POST">
      <label for="updatedURL">Enter an updated URL:&nbsp;&nbsp;&nbsp;</label>
      <input id ="updatedURL" type="text" name="updatedURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Update">
    </form>
  </blockquote>
  <% } else { %>
    <blockquote>You have to <a href = "/register">register</a> and <a href = "/login">log in</a> before getting in on the fun</blockquote>
  <% }; %>
</body>
</html>
